* {
  margin: 0px;
  padding: 0px;
}

#container {

}

#content {
	width: 960px;
	min-height: 300px;
  margin: 30px auto;
	padding: 10px;
  border: 1px solid black;
}

.item {
  width: 120px;
  height: 100px;
  margin-right: 10px;
	margin-top: 10px;
	float: left;
	background: #f9f9f9;
}

#clearfix {
  /*clear: both;*/
}

.item:first-child {
  /*background: #f00;*/
}

.item:last-child {
  /*background: green;*/
}

.item:nth-child(0) {
  /*background: yellow;*/
}

.item:nth-child(odd) {
  background: hotpink;
}

.item:nth-child(even) {
  background: lime;
}

.item:nth-child(7n) {
  /*margin-right: 0px;*/
}
