//!important
width: 100% !important;
height: 100% !important;

//filter
//img
img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
//div
div {
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
}

//transparent
background-color: transparent;

//tags
input[type=checkbox],
input[type=radio] {
}

//cursor
https://css-tricks.com/almanac/properties/c/cursor/
//custom
.custom {
  cursor: url(images/my-cursor.png), auto;
}

//fill
.segment-fill {
    fill: $svgIconDefault;
}
