body{font-family: Roboto; line-height: 22px; font-size: 13px;}
#wrapper{background: #e9eaed;}
#header, #footer{background: #263545;}
.wp_inner{width: 1200px; margin: 0px auto;}
.fl_left{float: left;}
.fl_right{float: right;}
.text-center{text-align: center;}
.text-right{text-align: right;}

/*style header*/
#header{padding: 30px 0px 23px 0px}
#header a{color: #fff;}
#logo{font-size: 20px; font-family: "Roboto"}
#main_menu li{float: left;}
#main_menu li a{padding: 8px 15px; text-transform: uppercase; font-size: 14px;}

/*style content*/
#content{
	margin-top: 20px;
    margin-bottom: 20px;
    background: #fff;
    padding: 50px 60px;
}
#content .title_page{font-size: 20px; margin-bottom: 20px;}
#content .intro_img p{
	font-style: italic;
    padding: 20px 0px;
}
/*style footer*/
#footer {color: #fff;}
#footer .top{padding: 38px 60px;}
#footer h3{padding: 10px 0px; font-size: 18px; font-weight: normal;}
#footer .list_course li a{color: #e3e3e3;}
.copyright {padding: 16px 0px;background: #111a22; color: #e8e8e8;}
